html {
  background-color: #ffffff; 
  color:  #000080;
  font-family: Ubuntu;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

header {
  font-weight: bold;
	text-align: center;
	line-height: .5;
}

header h1 {
  font-size: 1em;
}

header h2 {
  font-size: 1em;
}

header p {
  font-size: .75em;
}

.left {
  float: left;
  width: 45%;
  margin: auto auto 20px 5%;
}

.right {
  float: right;
  width: 50%;
  margin: auto auto 20px auto;
}

li {
  line-height: 1em;
  margin-bottom: 1.75em;
}
li p {
  margin-top: .5em;
  font-size: .6em;
  color: #000080;
}

.big {
  font-size: 2em;
}

.small {
  font-size: 0.75em;
}

.geico-image {
	font-size: .55em;
	text-align: center;
	line-height: .5;
}

.pre-footer	{
  font-size: .75em;
}

.bold {
  font-weight: bold;
}

footer {
  line-height: .5;
  position: absolute;
  clear: both;
}

section {
  position: relative;
  clear: both;
}


.copyright {
  font-size: .6em ;
}

.h-line {
  width: 100%;
  border-top: 1px solid black;
  clear: both;
}

/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?
Two things: (1) Make sure you link external files in the <head> portion of the HTML file, and (2) Make sure you have the correct path to the external file.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
To be honest, it became much easier after my pair and I separated and got to play around with everything more. It was pretty difficult at first, and I am still not 100% on the position property. After doing challenge 3.4 and getting to know the dev tools in Chrome, I went back to this challenge and played around with the CSS.

What CSS did you use to modify the element style (like size, color, etc.)
We used various CSS properties. color; background-color; font-size; line-height; text-align; float; clear; margin; border; width;...

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
We did use classes but not IDs. We found it easier to class things separately in order to isolate and change properties of those classes. For example we used the class "h-line" for all the <p>'s that would become horizontal lines.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
The cleaner code was created by us. It looked like there were no outside links in the actual code base, thus forcing it to include all styling in HTML, which is not a best practice. I am sure our code could use some cleaning up, but it is much more easy to understand at a glance than the original.
*/
