html {
  background-color: #ffffff; 
  color:  #000080;
  font-family: Ubuntu;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

header {
  font-weight: bold;
	text-align: center;
	line-height: .5;
}

header h1 {
  font-size: 1em;
}

header h2 {
  font-size: 1em;
}

header p {
  font-size: .75em;
}

.left {
  float: left;
  width: 45%;
  margin: auto auto 20px 5%;
}

.right {
  float: right;
  width: 50%;
  margin: auto auto 20px auto;
}

li {
  line-height: 1em;
  margin-bottom: 1.75em;
}
li p {
  margin-top: .5em;
  font-size: .6em;
  color: #000080;
}

.big {
  font-size: 2em;
}

.small {
  font-size: 0.75em;
}

.geico-image {
	font-size: .55em;
	text-align: center;
	line-height: .5;
}

.pre-footer	{
  font-size: .75em;
}

.bold {
  font-weight: bold;
}

footer {
  line-height: .5;
  position: absolute;
  clear: both;
}

section {
  position: relative;
  clear: both;
}


.copyright {
  font-size: .6em ;
}

.h-line {
  width: 100%;
  border-top: 1px solid black;
  clear: both;
}
